@import "../functions";
@import "../settings";

.off-canvas-wrapper {
    
    background-color: $body-background;
    
}

.off-canvas-content {
    box-shadow: none;
    // For something that has to wrap your Site Content, this is a really silly default...
    
    .menu-icon {
        margin-left: 10px;
    }
    
}

.off-canvas {

    > .menu {
        
        .fa {
            margin-top: -0.2em;
        }

        > li {

            background-color: $topbar-background; /* Top Level */
            
            a {
                color: $topbar-link-color !important;
            }

            ul {
                li {
                    background-color: darken( $topbar-background, 5% );
                    padding-left: 1.25rem;
                }
            }

        }

    }

}