.single-als_staff {
    
    .als_staff {
        
        .thumbnail {
            
            width: 150px; // Width of Thumbnail-size images. This will help for our placeholder
            text-align: center;
            margin-right: 0;
            
            .fa {
                color: $primary-color;
                font-size: 150px;
            }
            
            border: none;
            box-shadow: none;
            transition: box-shadow ease;
            
            img {
                width: 100%;
            }
            
            &:hover {
                box-shadow: none;
            }
            
            @media #{$medium-up} {
                width: 100%;
            }
            
        }
        
        .staff-meta-information {
            
            position: relative;
            word-wrap: break-word;
            
            .staff-meta-block {
                margin-bottom: 3em; // Ensure Find me text doesn't overlap
            }
            
            .staff-meta-icon {
                color: $primary-color;
            }
            
            a {
                color: $primary-color;
                &:hover {
                    color: scale-color( $primary-color, $lightness: -25% );
                }
            }
            
            .find-me-on {
                margin-top: 1em;
            }
            
            .social-icon {
                 font-size: rem-calc( map-get( map-get( $header-sizes, small ), h3 ) );
            }
            
            .badges {
                
                text-align: right;
                
                .badge-container {
                    width: 55px;
                    text-align: center;
                    display: inline-block;
                }
                
            }
            
            @media #{$small-only} {
                
                .badges {
                    margin-top: 1em;
                    text-align: center;
                }
                
            }
            
            @media #{$medium-up} {
                
                .staff-media-accounts {
                    
                    position: absolute;
                    bottom: 0;
                
                    .find-me-on {
                        display: inline-block;
                    }
                    
                }
                
                .social-icon {
                    font-size: rem-calc( map-get( map-get( $header-sizes, medium ), h3 ) );
                }
                
            }
            
        }
        
        .body-copy {
            
            margin-top: 1em;
            
            h3 {
                padding-bottom: 0.5em;
                border-bottom: 0.1em solid $tertiary-color;
            }
            
        }
        
    }
    
}